<div class="activitiesView">
    <div style="float:left; width: 45%; margin-left: 30px;">
        <h2>ACTIVITIES LIST</h2>
        <hr>
        <table class="activities">
            <tr>
              <th>NAME</th>
              <th>CATEGORY</th>
              <th>PRICE</th>
              <th>LANGUAGE</th>
              <th>DATE</th>
            </tr>
            <tr  *ngFor="let activity of activities" (click) = "onSelect(activity)">
                <th>{{activity.name}}</th>
                <th>{{activity.category}}</th>
                <th>{{activity.price}}</th>
                <th>{{activity.language}}</th>
                <th>{{activity.date  | date:"MM/dd/yy"}}</th>
            </tr>
        </table>
    </div>
    <div style="width: 45%;float:right;  margin-right: 30px;">
        <h2>ACTIVITIES DETAIL</h2>
        <hr>
        <div  class = "activityDetail" *ngIf="selectedActivity" >
            <div  class="box">
                <label for="activity-name">Name: </label>
                <input id="activity-name" [(ngModel)]="selectedActivity.name" placeholder="Name" readonly class = "activityElement">
            
                <label for="activity-description">Description: </label>
                <input id="activity-description" [(ngModel)]="selectedActivity.description" placeholder="Description" readonly class = "activityElement">
            
                <label for="activity-language">Language: </label>
                <input id="activity-language" [(ngModel)]="selectedActivity.language" placeholder="Language" readonly class = "activityElement">
            
                <label for="activity-date">Date: </label>
                <input id="activity-date" [(ngModel)]="selectedActivity.date" placeholder="Date" readonly class = "activityElement">
                
                <label for="activity-peopleRegistered">People registered: </label>
                <input id="activity-peopleRegistered" [(ngModel)]="selectedActivity.peopleRegistered" placeholder="People registered" readonly class = "activityElement">
            </div>
            <div class="box">
                <label for="activity-category">Category: </label>
                <input id="activity-category" [(ngModel)]="selectedActivity.category" placeholder="Category" readonly class = "activityElement">

                <label for="activity-subcategory">Subcategory: </label>
                <input id="activity-subcategory" [(ngModel)]="selectedActivity.subcategory" placeholder="Subcategory" readonly class = "activityElement">

                <label for="activity-price">Price: </label>
                <input id="activity-price" [(ngModel)]="selectedActivity.price" placeholder="Price" readonly>
            </div>
            <div class="box"  *ngIf="dataSharingService.loginStatus==1 && dataSharingService.loginUser == 0">
                <button id = "favButton"  [ngStyle]="{'color': selectedActivity.isFavourite ? 'red' : 'black'}" (click) = "isFavourite(selectedActivity)"> <i class="fa fa-heart"></i></button>
            </div>
        </div>
    </div>
</div>


