<div class="modal">
    <h1>Join now</h1>
    <form [formGroup] = "joinNowForm"(ngSubmit) = "checkLogin()">
      <div class="container">
        <div> 
          <div>
            <label><b>Username</b></label>
            <input type="text" onkeypress="return (event.charCode > 96 && event.charCode < 123) || (event.charCode > 64 && event.charCode < 91) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode <= 31" placeholder="Enter Username" [formControl] = "name"/>
          </div>
          <div>
            <span style = "color: red;" *ngIf = "joinNowForm.get('name')!.errors && (joinNowForm.get('name')!.touched ||joinNowForm.get('name')!.dirty)">
              <span *ngIf = "joinNowForm.get('name')!.hasError('required')"> Username is required</span>
              <span *ngIf = "joinNowForm.get('name')!.hasError('minlength')  || joinNowForm.get('name')!.hasError('maxlength') "> Username must be greater than 3 characters</span>
              <span *ngIf = "joinNowForm.get('name')!.errors!.cannotContainSpace!"> Username can not contain space</span>
            </span>
          </div>
        </div> 
        <div> 
          <div>
            <label><b>Surname</b></label>
            <input type="text" onkeypress="return (event.charCode > 96 && event.charCode < 123) || (event.charCode > 64 && event.charCode < 91) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode <= 31" placeholder="Enter Surname" [formControl] = "surname"/>
          </div>
          <div>
            <span style = "color: red;" *ngIf = "joinNowForm.get('surname')!.errors">
              <span *ngIf = "joinNowForm.get('surname')!.hasError('minlength')  || joinNowForm.get('name')!.hasError('maxlength') "> Surname must be greater than 3 characters</span>
              <span *ngIf = "joinNowForm.get('surname')!.errors!.cannotContainSpace!"> Surname can not contain space</span>
            </span>
          </div>
        </div> 


        <div> 
          <div>
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" [formControl] = "password"/>
          </div>
          <div>
            <span style = "color: red;" *ngIf = "joinNowForm.get('password')!.errors && (joinNowForm.get('password')!.touched ||joinNowForm.get('password')!.dirty)">
              <span *ngIf = "joinNowForm.get('password')!.hasError('required')"> Password is required</span>
              <span *ngIf = "joinNowForm.get('password')!.hasError('minlength') || joinNowForm.get('password')!.hasError('maxlength') "> Password must be greater than 4 characters</span>
            </span>
          </div>
        </div>  
        <div> 
          <div>
            <label><b>Repeat password</b></label>
            <input type="password" placeholder="Enter Password" [formControl] = "password2"/>
          </div>
          <div>
            <span style = "color: red;" *ngIf="showErrorPasswords"> Passwords don't match</span>
          </div>
          <div>
            <span style = "color: red;" *ngIf = "joinNowForm.get('password2')!.errors && (joinNowForm.get('password2')!.touched ||joinNowForm.get('password2')!.dirty)">
              <span *ngIf = "joinNowForm.get('password2')!.hasError('required')"> Password is required</span>
              <span *ngIf = "joinNowForm.get('password2')!.hasError('minlength') || joinNowForm.get('password')!.hasError('maxlength') "> Password must be greater than 4 characters</span>
              <span *ngIf = "joinNowForm.get('password2') == joinNowForm.get('password')"> Passwords must match</span>
            </span>
          </div>
        </div>  
        <div> 
          <div>
            <label><b>Type</b></label>
          </div>
          <div>
            <select id="isAdmin" name="isAdmin"  [formControl] = "isAdmin">
              <option value="true">Company</option>
              <option value="false">Tourist</option>
            </select>
          </div>
        </div>

                
        <div> 
          <div>
            <label><b>Email</b></label>
            <input type="text"  placeholder="Enter email" [formControl] = "email"/>
          </div>
          <div>
            <span style = "color: red;" *ngIf = "joinNowForm.get('email')!.errors && (joinNowForm.get('email')!.touched ||joinNowForm.get('email')!.dirty)">
              <span *ngIf = "joinNowForm.get('email')!.hasError('required')"> email is required</span>
              <span *ngIf = "joinNowForm.get('email')!.errors!.cannotContainSpace!"> email can not contain space</span>
            </span>
          </div>
        </div>
        <div>
          <button type = "submit" placeholder="Join now" [disabled] = "!joinNowForm.valid">Join now!</button>
        </div>  
      </div>
    </form>
</div>



