<div class="box modal profile" > 
    <h1 style = "text-align: left;" >Profile</h1>

    <div class="box profileElements">

            <label for="user-name">Name: </label>
            <input id="user-name"  [(ngModel)]="user.name" placeholder="Name">

            <label for="user-surname">Surname: </label>
            <input id="user-surname" [(ngModel)]="user.surname" placeholder="Surname">

            <label for="user-birthDate">Birth date: </label>
            <input id="user-birthDate" [(ngModel)]="user.birthdate" placeholder="Birth date">

            <label for="user-phone">Phone: </label>
            <input id="user-phone"  [(ngModel)]="user.phone" placeholder="Phone">

            <label for="user-nationality">Nationality: </label>
            <input id="user-nationality" [(ngModel)]="user.nationality" placeholder="Nationality">

            <label for="user-nif">NIF: </label>
            <input id="user-nif" [(ngModel)]="user.nif" placeholder="NIF">

            <label for="user-about">About me: </label>
            <input id="user-about" [(ngModel)]="user.about"  placeholder="About me">

    </div>
    <h1 style = "text-align: left;">Education</h1>
</div>