<h2>My Activities</h2>
<ul class="activities">
    <li *ngFor="let activity of activities" (click) = "onSelect(activity)">
    <span class="badge">{{activity.id}}</span> {{activity.name}}
  </li>
</ul>

<div *ngIf="selectedActivity">
    <h2>{{selectedActivity.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedActivity.id}}</div>
    <div>
    <label for="activity-name">Activity name: </label>
    <input id="activity-name" [(ngModel)]="selectedActivity.name" placeholder="name">
    </div>
</div>