body {
  font-family: Courier, monospace;
}

.modal {
  text-align: center;
}

.modal,
.activitiesView {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.container {
  margin: 5% auto 15% auto;
}

input[type="text"],
input[type="password"] {
  width: 50%;
  padding: 5px 20px;
  margin: 8px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
}

.activityDetail {
  display: flex;
  justify-content: space-between;
}
