<div>
    <h1>Test app</h1>
    <form [formGroup] = "loginForm"(ngSubmit) = "checkLogin()">
        <label>Username: </label>
        <input type="text" [formControl] = "name"/>
        
        <label>User password: </label>
        <input type="password" [formControl] = "password"/>
        
        <button type = "submit" [disabled] = "!loginForm.valid">Login</button>
    </form>
</div>

<span style = "color: red;" *ngIf = "loginForm.get('name')!.errors && (loginForm.get('name')!.touched ||loginForm.get('name')!.dirty)">
    <span *ngIf = "loginForm.get('name')!.hasError('required')"> Username is required</span>
    <span *ngIf = "loginForm.get('name')!.hasError('minlength')  || loginForm.get('name')!.hasError('maxlength') "> Username must be greater than 8 characters</span>
</span>

<span style = "color: red;" *ngIf = "loginForm.get('password')!.errors && (loginForm.get('password')!.touched ||loginForm.get('password')!.dirty)">
    <span *ngIf = "loginForm.get('password')!.hasError('required')"> Password is required</span>
    <span *ngIf = "loginForm.get('password')!.hasError('minlength') || loginForm.get('password')!.hasError('maxlength') "> Password must be greater than 4 characters</span>
</span>
